<footer class="bg-white px-4 sm:px-6 md:px-12 lg:px-16 xl:px-24 pt-12 md:pt-18 pb-6 md:pb-8">
    <div class="flex flex-col lg:flex-row items-start justify-center gap-8 lg:gap-0">
        <div class="flex-1 w-full lg:w-auto">
            <div class="mb-8 md:mb-16 grid gap-4">
                <img src="/png/logo.png" alt="Smelly Cat" class="h-[40px] md:h-[50px] w-auto block" />
                <p class="text-sm md:text-base font-bold">
                    Invest in Real Estate Wealth.<br />
                    Unlock a Digital Future
                </p>
            </div>
            <div class="grid gap-4">
                <a class="text-xs md:text-sm font-bold hover:underline cursor-pointer">Privacy Policy</a>
                <a class="text-xs md:text-sm font-bold hover:underline cursor-pointer">Terms of Service</a>
            </div>        
        </div>
        <div class="flex-1 w-full lg:w-auto">
            <div class="flex flex-col sm:flex-row items-start gap-6 sm:gap-8 lg:ps-[30%]">
                <div class="flex-1 w-full sm:w-auto">
                    <span class="block mb-2 text-xs md:text-sm font-bold">Browse</span>
                    <div class="grid">
                        <a routerLink="" class="text-base md:text-lg hover:underline cursor-pointer">Adopt Kittens</a>
                        <a routerLink="/stories" class="text-base md:text-lg hover:underline cursor-pointer">Kitty Stories</a>
                        <a routerLink="/about" class="text-base md:text-lg hover:underline cursor-pointer">About Us</a>
                    </div>
                </div>
                <div class="flex-1 w-full sm:w-auto">
                    <span class="block mb-2 text-xs md:text-sm font-bold">Company</span>
                    <div class="grid">
                        <a routerLink="/blog" class="text-base md:text-lg hover:underline cursor-pointer">Blog</a>
                        <a routerLink="/contact" class="text-base md:text-lg hover:underline cursor-pointer">Contact</a>
                    </div>
                </div>
                <div class="flex-1 w-full sm:w-auto">
                    <span class="block mb-2 text-xs md:text-sm font-bold">Connect</span>
                    <div class="grid">
                        <a class="text-base md:text-lg hover:underline cursor-pointer">Instagram</a>
                        <a class="text-base md:text-lg hover:underline cursor-pointer">LinkedIn</a>
                        <a class="text-base md:text-lg hover:underline cursor-pointer">X</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 md:mt-8 flex flex-col sm:flex-row items-center justify-between gap-4 text-xs md:text-sm">
        <p>created by <a href="https://www.fromscratch.io/#/" target="_blank" class="underline font-bold">fromScratch Studio</a></p>
        <strong>Copyright &copy; SmellyCat 2025</strong>
    </div>
</footer>